@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --primary-color: #4ade80;
  --primary-light: #86efac;
  --primary-dark: #22c55e;
  --secondary-color: #7dd3fc;
  --secondary-light: #bae6fd;
  --accent-color: #f0fdf4;
  --text-color: #334155;
  --bg-color: #ffffff;
  --btn-color: #FF7F50;
  --border-color: #f76aeb;
  --secondary-border-color: #ff9cf7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--bg-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}


/*.tech-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  font-weight: 500;
}
*/
.tech-icon {
  color: var(--primary-color);
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
  color: #BE123C;

}


/* Buttons */
.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
}

.btn-primary {
  background: var(--btn-color);
  color: white;
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--btn-color);
  /*color: var(--primary-color);*/
  color: #FF7F50;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(74, 222, 128, 0.2);
}

/* Sections */
.section {
  padding: 8rem 0;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--text-color);
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  background: linear-gradient(135deg, var(--primary-light), var(--secondary-color));
  border-radius: 2px;
}

/* Projects Section */

/* Contact Section */

/* Responsive Design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .container {
    padding: 0 1.5rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}